<div class="col-xs-12">
	<div class="icon ">
		<%= link_to "", new_product_path, class:"far fa-star top_link", style:"text-decoration:none" %><br>
		<p class="link_p">new item</p>
	</div>
	<div class="icon ">
		<%= link_to "",categories_path, class:"far fa-chart-bar top_link", style:"text-decoration:none" %><br>
		<p class="link_p">category</p>
	</div>

</div>